* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
a{
  text-decoration: none;
  color: black;
}
body{
  font-family: sans-serif;
  background-color: whitesmoke;
  width: 900px;
  margin: 0 auto;
}
.header{
  padding: 20px 0px;
  &__title{
    color: #14d9c4;
    text-align: center;
    margin: 0 auto;
  }
}
.main{
  &__find{
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto;
    label{
      padding: 0px 5px;
    }
    input{
      border: none;
      border-radius: 5px;
      background-color: rgb(224, 224, 224);
      padding: 2px 5px;
      margin-right: 10px;
    }
    select{
      border: none;
      border-radius: 5px;
      background-color: rgb(224, 224, 224);
      padding: 2px 5px;
      margin-right: 10px;
      color: grey;
    }
  }
  &__table{
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
    th{
      background-color: #14d9c4;
      padding: 5px 40px;
    }
    td{
      padding: 2px 20px;
    }
    &--rrss{
      display: flex;
      justify-content: unset;
      a{
        padding: 0px 5px;
        &:hover{
          color: #14d9c4;
        }
      }
    }
  }
  &__newAdalaber{
    text-align: center;
    margin: 0 auto;
    padding-bottom: 50px;
    &--title{
      padding: 20px 0px 10px 0px;
    }
    label{
      padding: 0px 5px;
    }
    input{
      border: none;
      border-radius: 5px;
      background-color: rgb(224, 224, 224);
      padding: 2px 5px;
      margin-right: 10px;
    }
    &--btn{
      background-color: #14d9c4;
      border: none;
      border-radius: 5px;
      padding: 5px 20px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 600;
      color: whitesmoke;
      cursor: pointer;
      &:hover{
        background-color: black;
      }
    }
  }
}
